@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@font-face {
  font-family: "DoHyeon";
  src: url("/fonts/DoHyeon/DoHyeon-Regular.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "GowunDodum";
  src: url("/fonts/GowunDodum/GowunDodum-Regular.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: light;
    background-color: white; /* 다크 모드에서도 흰색 배경 */
    color: black;
  }
}

html,
body {
  color-scheme: light;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* 수평 스크롤 막기 */
  font-family: "GowunDodum", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.gowun-text {
  font-family: "DoHyeon", sans-serif;
}

@layer components {
  .custom-placeholder::placeholder {
    @apply text-gray-500; /* Tailwind의 text-gray-500 클래스를 적용 */
    @apply pl-2; /* 왼쪽 패딩 추가 */
    @apply pt-2; /* 위쪽 패딩 추가 */
  }
}

.swiper-pagination-custom {
  text-align: center;
  margin-top: 20px;
  color: #000; /* 텍스트 색상 */
}

.swiper-pagination-custom .swiper-pagination-bullet {
  background-color: #ffcc00; /* 페이지네이션 점 색상 */
}

.swiper-pagination-custom .swiper-pagination-bullet-active {
  background-color: #ff6600; /* 활성화된 점 색상 */
}

.reset {
  all: revert;
}
