@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@font-face {
  font-family: "DoHyeon";
  src: url("/fonts/DoHyeon/DoHyeon-Regular.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "GowunDodum";
  src: url("/fonts/GowunDodum/GowunDodum-Regular.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* 수평 스크롤 막기 */
  font-family: "GowunDodum", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.gowun-text {
  font-family: "DoHyeon", sans-serif;
}
